nav {
  display: flex;
  position: fixed;
  left: 93%;
  top: 80px;
  width: 100%;
  overflow: auto;
}

body {
  background-image: url(images/projects.jpg);
}

.img:hover {
  box-shadow: 0 0 5px 5px lightcoral;
  filter: unset;
}

h1 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
  color: black;
}

h2 {
  padding-left: 180px;
  font-size: 25px;
  font-style: italic;
  color: black;
}

h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.card {
  display: flex;
  flex-flow: column wrap;
  word-wrap: break-word;
  background-color: lightgray;
  padding-top: 30px;
  max-width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  text-align: left;
  padding-top: 10px;
  width: 100%;
  font-size: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
    max-width: 100%;
  }

  nav {
    display: flex;
    position: fixed;
    left: 90%;
    top: 80px;
    width: 100%;
    overflow: auto;
  }
}

@media (max-width: 414px) {
  .card {
    width: 65%;
    max-width: 100%;
  }
  h2 {
    padding-left: 70px;
  }
  .vertical-nav {
    display: flex;
    position: fixed;
    left: 83%;
    top: 80px;
    width: 100%;
    overflow: auto;
  }
}
