.form-group,
form-control {
  text-align: left;
  max-width: 600px;
}

textarea[id="message"] {
  height: 90px;
}

input[id="name"],
input[id="email"],
input[id="subject"] {
  height: 35px;
}

button[type="submit"],
button[type="reset"] {
  width: 20%;
}

body {
  background-image: url(images/contact.jpg);
}

.vertical-nav {
  display: flex;
  position: fixed;
  left: 93%;
  top: 80px;
  width: 100%;
  overflow: auto;
}

.img:hover {
  box-shadow: 0 0 5px 5px lightcoral;
  filter: unset;
}

h1 {
  color: black;
  padding-top: 20px;
}

h2 {
  text-align: center;
  font-size: 120%;
  color: black;
}

label {
  color: black;
  font-size: 100%;
  font-weight: bold;
}

#contact {
  color: black;
  text-align: center;
  max-width: 50%;
}

@media (max-width: 768px) {
  .form-group,
  form-control {
    text-align: left;
    max-width: 550px;
  }

  .vertical-nav {
    display: flex;
    position: fixed;
    left: 90%;
    top: 80px;
    width: 100%;
    overflow: auto;
  }
}

@media (max-width: 414px) {
  .form-group,
  form-control {
    text-align: left;
    max-width: 320px;
  }

  .vertical-nav {
    display: flex;
    position: fixed;
    left: 85%;
    top: 80px;
    width: 100%;
    overflow: auto;
  }
}
